@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DIN-black';
  src: url('../public/DINNextW1G-Black.otf');
}

@font-face {
  font-family: 'DIN-light';
  src: url('../public/DINNextW1G-Light.otf');
}
